@use "sass:map";
@use "sass:color";
@use '../../_theme';

// @mixin colorized($color) {
//   background-color: color.adjust($color, $lightness: -10%);
//   label{
//     color: theme.$button-text-colorized;
//     background-color: $color;
//     border-color: color.adjust($color, $lightness: -10%);
//   }
//   &:active {
//     background-color: color.adjust($color, $lightness: -20%);
//     label {
//       background-color: color.adjust($color, $lightness: -5%);
//       border-color: color.adjust($color, $lightness: -20%);
//     }
//   }
// }


.cky-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
  
    border:0;
    border-radius: 3px;
    padding: 0 0 theme.$button-z 0;
    background: theme.$button-border;
    transition-property: padding, margin, background;
    vertical-align: top;
  
    &,label {
      transition-timing-function: linear;
      transition-duration: 200ms;
    }
  
    &.cky-mod-small {
        font-size: 12px;
    }

    &:disabled {
      filter: grayscale(50%) contrast(50%) brightness(130%);
      label {
        text-shadow: none
      }
    }
  
  
    @each $name, $color in theme.$colors {
      &.cky-mod-#{$name} {
          background-color: var(--#{$name}-700);
          label{
              color: var(--button-text-colorized);
              background-color: var(--#{$name}-500);
              border-color: var(--#{$name}-700);

          }
          &:not(:disabled) label {
            text-shadow: 0px -1px 0 #00000040;
          }
          &:active, &.cky-mod-pressed {
              background-color: var(--#{$name}-800);
              label {
                  background-color: var(--#{$name}-600);
                  border-color: var(--#{$name}-800);
              }
          }
      }

      $alias: map.get(theme.$color_aliases, $name);
      @if $alias {
          &.cky-mod-#{$alias} {
              @extend .cky-mod-#{$name};
          }
      }
  }


  
    
  
    &:not(:disabled):active, &.cky-mod-pressed {
      background-color: theme.$button-border-active;
      padding-bottom: calc(theme.$button-z / 2);
      margin-top: calc(theme.$button-z / 2);
      label {
        background-color: theme.$button-face-active;
        border-color: theme.$button-border-active;
      }
    }
  
    label {
      text-shadow: 0px 1px #ffffff80;
      transition-property: background, border-color;
      border-radius: 3px;
      background: theme.$button-face;
      border: 1px solid theme.$button-border;
      color: theme.$button-text;
      padding: 0.25em 1em;
  
      display: block;
      margin: 0;
      cursor: pointer;
      user-select: none;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 50ch;
      overflow: hidden;
    }
  }

  .cky-button {
    margin-right: 4px
  }