@use "sass:color";
@use '../../_theme';

// @mixin colorized($color) {
//   background-color: color.adjust($color, $lightness: -10%);
//   label{
//     color: theme.$button-text-colorized;
//     background-color: $color;
//     border-color: color.adjust($color, $lightness: -10%);
//   }
//   &:active {
//     background-color: color.adjust($color, $lightness: -20%);
//     label {
//       background-color: color.adjust($color, $lightness: -5%);
//       border-color: color.adjust($color, $lightness: -20%);
//     }
//   }
// }


.chy-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
  
    border:0;
    border-radius: 3px;
    padding: 0 0 theme.$button-z 0;
    background: theme.$button-border;
    transition-property: padding, margin, background;
    vertical-align: top;
  
    &,label {
      transition-timing-function: linear;
      transition-duration: 200ms;
    }
  
    &.chy-mod-small {
        font-size: 12px;
    }
  
  
    // &.chy-mod-primary {
    //   @include colorized(theme.$primary);
    // }

    // &.chy-mod-green {
    //   @include colorized(#359735);
    // }

    // &.chy-mod-danger {
    //   @include colorized(#d32020);
    // }

    // &.chy-mod-blue {
    //   @include colorized(#146ed4);
    // }

    // &.chy-mod-orange {
    //   @include colorized(#e77415);
    // }

    // &.chy-mod-pink {
    //   @include colorized(#e0188d);
    // }


  
    
  
    &:active {
      background-color: theme.$button-border-active;
      padding-bottom: calc(theme.$button-z / 2);
      margin-top: calc(theme.$button-z / 2);
      label {
        background-color: theme.$button-face-active;
        border-color: theme.$button-border-active;
      }
    }
  
    label {
      transition-property: background, border-color;
      border-radius: 3px;
      background: theme.$button-face;
      border: 1px solid theme.$button-border;
      color: theme.$button-text;
      padding: 0.25em 1em;
  
      display: block;
      margin: 0;
      cursor: pointer;
      user-select: none;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 50ch;
      overflow: hidden;
    }
  }

  .chy-button + .chy-button {
    margin-left: 4px
  }