
@import '../fonts';
@import '../globals';
@import '../color-mod';

.App {
  padding: 10px;
  background: #fff;
  min-height: 100vh;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

h3 {
  margin-bottom: 0;
  margin-top: 4px;
}

details > summary { cursor: pointer; user-select: none; }


table.colors-example {
  border-spacing: 0;
  width: 100%;
  td, th {
    border-bottom: 1px var(--button-border) solid;
    padding: 0 5px; 
    &:not(:first-child, :last-child){
      text-align: center;
    }
    &:last-child {
      width: 100%;
    }
  }
  td:nth-child(6), th:nth-child(6) {
    background: #ffffffc0;
    border: 1px #00000020 solid;
    border-width: 0 1px 1px 1px;
    // code { display: inline-block!important }
  }
  th:nth-child(6){
    border-top-width: 1px;
  }
  tr:last-child td:nth-child(6) {
    border-bottom-width: 1px;
  }
  td {
    .color {
      padding: 7px 2px;
      display: flex;
      border-radius: 2px 0 0 2px;
      .preview {
        flex: 0 0 auto;
        width: 2em;
        height: 2em;
        border-radius: 2px 0 0 2px;
        // border: 1px #00000080 solid;
      }
      code {
        // verticalAlign: 'middle',
        padding: 0 5px;
        background: white;
        display: none;
        // border-radius: '0 2px 2px 0';
        // border: '1px #00000080 solid;
        // height: '1.2em;
        // borderLeft: '0;
        // display: 'inline-block;
      }
      // border: 1px #00000080 solid;
    }


  }
}

.example-table-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}