@use 'sass:color';
@use '../../theme';

.cky-chip {
    border-radius: theme.$border-radius;
    font-size: 1em;
    line-height: 1em;
    vertical-align: middle;
    // color: black;

    $lightness: 50%;
    $saturation: 50%;
    $step: 36;

    &.cky-mod-yellow, &.cky-mod-bone {
        // color: black;
    }

    // @each $name, $color in theme.$colors {
    //     .cky-mod-#{$name} {
    //         background: $color;
    //     }
    // }

    &.cky-mod-rgb {
        color: white;
        background: linear-gradient(
            0deg,
            hsl($step *  0, $saturation, $lightness)   0%,
            hsl($step *  1, $saturation, $lightness)  10%,
            hsl($step *  2, $saturation, $lightness)  20%,
            hsl($step *  3, $saturation, $lightness)  30%,
            hsl($step *  4, $saturation, $lightness)  40%,
            hsl($step *  5, $saturation, $lightness)  50%,
            hsl($step *  6, $saturation, $lightness)  60%,
            hsl($step *  7, $saturation, $lightness)  70%,
            hsl($step *  8, $saturation, $lightness)  80%,
            hsl($step *  9, $saturation, $lightness)  90%,
            hsl($step * 10, $saturation, $lightness) 100%
        );
        animation: party 2s linear infinite;
        background-attachment: fixed;
        background-size: auto 400px;

        @keyframes party {
            from {background-position-y: 0%;}
            to {background-position-y: 180%;}
        }
    }

    

    padding: .1em .4em;
    margin: .1em;
    display: inline-block;
    // color: white;

    &.cky-mod-right {
        align-self: flex-end;
    }
    &:not(.cky-mod-right) {
        align-self: flex-start;
    }
}

