@use "sass:color";

@import '../../_theme';

table.chy-table {

    border: 1px solid $chy-border-color;
    margin: 20px;
    border-radius: $chy-border-radius;
    //padding: 10px;
    background: #eae7e1; 
    width: calc(100% - 40px);
    border-spacing: 0;
    box-shadow: 0px 1px 10px #00000030;


    thead, thead th {
        background: #eae7e1;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $chy-border-color;
        text-align: left;
        border-radius: 3px 3px 0 0;
    }

    tbody, tbody tr {
        background: #f7f3ed;
        border-radius: 0 0 3px 3px;
    }

    // tr:not(:last-child, .chy-table-selected-row) {
    tr:not(:last-child, :nth-last-child(2)), tr.chy-table-selected-row:nth-last-child(2) {
        td {
            border-bottom: 1px solid $chy-border-color;
        }
    }

    tbody tr:last-child, tbody tr:nth-last-child(2):not(.chy-table-selected-row) {
        border-radius: 0 0 3px 3px;
        td:first-child {
            border-radius: 0 0 0 3px;
        }
        td:last-child {
            border-radius: 0 0 3px 0;
        }
    }

    tr.chy-table-selected-row {
        // background: $chy-primary;
        background: color.adjust($chy-button-face, $lightness: -5%);
        td {
            border-top: 1px transparent solid;
            // border-top: 1px color.adjust($button-border-checked, $lightness: 5) solid;
        }
        // color: white;
        &:hover {
            background: color.adjust($chy-button-face, $lightness: -3%);
        }
    }

    td {
        border-top: 1px #ffffffd0 solid;
        padding: 10px 0;
        cursor: pointer;
        // z-index: 2;
    }

    tr.chy-table-details-row {
        $toggle-duration: 0.2s;
        // $toggle-function: cubic-bezier(0.68, -0.55, 0.27, 1.55); 
        $toggle-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
        td {
            border: 0;
            // z-index: 1;
            background: $chy-dark-bg;
            box-shadow: inset 0px -2px 10px #00000030;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 0;
            padding-bottom: 0px;
            // padding-bottom: 5px;
            overflow: hidden;
            transition: padding-bottom $toggle-duration $toggle-function;
            position: relative;

            .chy-table-details {
                border: 1px solid $chy-border-color;
                border-top: 0;
                border-radius: 0 0 3px 3px;
                background: $chy-light-bg;
                padding: 10px 15px;
                overflow: hidden;
                // height: 0;
                margin-top: -100px;
                transition: margin-top $toggle-duration $toggle-function;
                
            }

            .chy-table-details-shadow {
                position: absolute;
                box-shadow: inset 0px 6px 10px #00000030;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
            }
        }
    }

    tr.chy-table-selected-row + tr.chy-table-details-row {
        td {
            padding-bottom: 5px;
            .chy-table-details {
                height: auto;
                margin-top: 0px;
            }
        }
    }

    tr {
        &:hover {
            background: color.adjust($chy-button-face, $lightness: 5%);
        }
        >:first-child {
            padding-left: 20px;
        }
        >:last-child {
            padding-right: 20px;
        }
        
    }
}