@use "sass:color";
@use "sass:map";
@use "sass:list";

@function colorized_border($color, $active) {
  @if $active {
    @return color.adjust($color, $lightness: -20%);
  } @else {
    @return color.adjust($color, $lightness: -10%);
  }
}
@function colorized_bg($color, $active) {
  @if $hover {
    @return color.adjust($color, $lightness: -5%);
  } @else {
    @return $color;
  }
}

$primary: #703ea7; //#411980;

$button-face: #e4dfd5;
$button-border: color.adjust($button-face, $lightness: -10%);

$button-face-active: color.adjust($button-face, $lightness: -10%);
$button-border-active: color.adjust($button-face, $lightness: -20%);
$button-border-checked: color.adjust($button-face, $lightness: -20%);

$button-face-checked-active: color.adjust($primary, $lightness: -5%);
$button-face-checked: color.adjust($button-face, $lightness: -10%);

$button-text: rgba(0, 0, 0, 0.8);
$button-text-checked: rgba(0, 0, 0, 0.8); // rgba(255, 255, 255, 1);
$button-text-colorized: rgba(255, 255, 255, 1);
$button-z: 4px;

$border-radius: 3px;
$border-color: #d0c7b6;

$light-bg: #f7f3ed;
$dark-bg: #eae7e1;

$default-font: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$code-font: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

$colors: (
  "primary": $primary,
  "success": #359735,
  "danger": #d32020,
  "blue": #146ed4,
  "orange": #e77415,
  "pink": #e0188d,
);

$color_shades: ();

@each $name, $color in $colors {
  $color_shades: map.set($color_shades, $name, (
    color.adjust($color, $lightness:  20%),
    color.adjust($color, $lightness:  10%),
    color.adjust($color, $lightness:  5%),
    $color,
    color.adjust($color, $lightness: -5%),
    color.adjust($color, $lightness: -10%),
    color.adjust($color, $lightness: -20%)
  ));
}

@debug $color_shades;

