@use 'sass:map';
@use 'theme';



@each $name, $color in theme.$colors {
    .cky-mod-#{$name} {
        background-color: var(--#{$name}-500);
        @if $name == 'yellow' or $name == 'bone' {
            // 
        } @else {
            color: var(--button-text-colorized);
        }
    }

    $alias: map.get(theme.$color_aliases, $name);
    @if $alias {
        .cky-mod-#{$alias} {
            @extend .cky-mod-#{$name};
        }
    }
}